body{
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 4rem;
}

.box {
  background-color: #4547c7;
  border: 2px solid #272727;
  height: 10rem;
  width: 10rem;
}

.box.red {
  background-color: #ff665c;
}

.box.yellow {
  background-color: #f9ff58;
  height: 20rem;
}

.box.blue {
  background-color: #5255eb;
  height: 15rem;
}
